.venv/
venv/
__pycache__/
*.pyc

node_modules/

.env
.env.local
.env.*

.DS_Store
Thumbs.db

/STT/uploads/*
/STT/Audio_result/*
/STT/suspicious_segments/*

!/STT/uploads/.keep
!/STT/Audio_result/.keep
!/STT/suspicious_segments/.keep