# Python
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd

# Git / editor
.git
.gitignore
.vscode
.idea

# Output folders
Audio_result
suspicious_segments

# Cache
.cache
pytest_cache
.mypy_cache

# OS files
.DS_Store
Thumbs.db